html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.l-box {
    padding: 1em;
}

.pure-menu-item {
	font-size: 14px;
}

.content {
	background: #F5F5F5;
}

.sidebar, #indicator {
	-webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.39);
	-moz-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.39);
	box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.39);
	z-index: 9;
}

.footer {
	position: relative;
	padding: 5px 10px;
	font-size: 14px;
}

.full-height {
	height: auto;
    min-height: 100% !important;
}

#map {
	min-height: 612px;
}

.penderita-label {
	padding-top: 4px;
	font-size: 12px;
}

.app-title {
	font-size: 16px;
	padding: 8px 0 14px;
	font-weight: bold;
}

#indicator {
	position: absolute;
	bottom: 90px;
	right: 20px;
	background: white;
	border-radius: 2px;
	overflow: hidden;
}

#indicator ul {
	margin: -2px 6px -2px -40px;
}

#indicator ul li {
	list-style: none;
	margin-bottom: -4px;
}

#indicator ul li > div {
	display: inline-block;
	height: 32px;
	width: 24px;
}

#indicator ul li span {
	display: inline-block;
	position: relative;
	top: -10px;
	font-size: 12px;
	color: gray;
}